<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @noise_level.value %>
</p>

<%= link_to 'Edit', edit_noise_level_path(@noise_level) %> |
<%= link_to 'Back', noise_levels_path %>
