# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 781e2034f414a58e444d37205320cf49ab048db94806bf73c4435323dfa55e84c25610b016ed4e7431a846b3c4fa6b09e3908bc50e4cf523b6b987600b31839b

test:
  secret_key_base: 5624d1ae4c7b22c2e6deb67a662bb6ffa0f5bbb00ea12d3dd94635958b8c13bc23e7ec8e69addb6d27d6d4dba7d51f4511626ea876af6efbb7024a07fa383810

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: 5624d1ae4c7b22c2e6deb67a662bb6ffa0f5bbb00ea12d3dd94635958b8c13bc23e7ec8e69addb6d27d6d4dba7d51f4511626ea876af6efbb7024a07fa383810
